.header {
  width: 100%;
  height: 5rem;
  background-color: #0d1b2a;
  color: #e0e1dd;
  display: flex;
  justify-content: center;
}

.title {
  font-weight: 400;
  cursor: pointer;
}

.title:hover {
  opacity: 0.9;
}
